{% extends 'email_alerts/email_base.html' %} {% block inner_content %}
<table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">
      <table class="email-content" width="100%" cellpadding="0" cellspacing="0">
        <!-- Email Body -->
        <tr>
          <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
            <table
              class="email-body_inner"
              align="center"
              width="570"
              cellpadding="0"
              cellspacing="0"
            >
              <!-- Body content -->
              <tr>
                <td class="content-cell">
                  <table
                    class="body-action"
                    align="center"
                    width="100%"
                    cellpadding="0"
                    cellspacing="0"
                  >
                    <tr>
                      <td align="center">
                        <table
                          width="100%"
                          border="0"
                          cellspacing="0"
                          cellpadding="0"
                        >
                          <tr>
                            <td align="center">
                              <a href="{{ link }}">
                                <div class="verify_button">
                                  <h2 style="font-size: 15px;">
                                    Request password reset
                                  </h2>
                                </div>
                              </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

{% endblock inner_content %}
